# Module 1: Training and validation - Exercise

In this exercise you will apply the **training and validation** workflow to **titanic** dataset. 
You should use **Gaussian Naive Bayes model** to fit the dataset.

In [1]:
import os, sys
import numpy as np
import pandas as pd

DATASET = '/dsa/data/all_datasets/titanic_ML/titanic.csv'
assert os.path.exists(DATASET)

Now go ahead and **import GaussianNB and train_test_split()** from sklearn below.

In [2]:
# Add your code below this comment
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

## Load Dataset

**Load dataset** from files into multi-dimensional array and understand its structure.

Note that this .csv file is comma separated. **Shuffle the dataset using the sample() and  reset_index() method. **

In [3]:
# Add your code below this comment
dataset = pd.read_csv(DATASET, sep=',').sample(frac=1).reset_index(drop=True)

Print **number of rows**.

In [8]:
# Add your code below this comment
print('Number of rows:',len(dataset))

Number of rows: 890

**Describe the dataset**.

In [9]:
# Add your code below this comment
dataset.describe()

,pclass,sex,age,sibsp,parch,fare,embarked,survived
count,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000
mean,2.312360,0.642697,29.548697,0.503371,0.351685,32.865772,0.895506,0.389888
std,0.837241,0.479475,13.379025,1.095286,0.790069,52.639685,0.529535,0.487999
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,1.000000,0.000000
50%,3.000000,1.000000,28.000000,0.000000,0.000000,13.775000,1.000000,0.000000
75%,3.000000,1.000000,37.000000,1.000000,0.000000,29.925000,1.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,2.000000,1.000000

In [10]:
dataset.head()

   pclass  sex   age  sibsp  parch     fare  embarked  survived
0       3    1  22.0      0      0   7.2292         0         0
1       3    1  32.0      0      0  22.5250         1         0
2       1    0  39.0      1      1  79.6500         1         1
3       1    1  58.0      0      0  29.7000         0         0
4       3    0  22.0      0      0   9.8375         1         0

**Store feature columns** (all except column 'survived') to a new variable **X**.

In [11]:
# Add your code below this comment
X = dataset.iloc[:,:-1]

**Store label column** (last column 'survived') to a new variable **Y**.

In [12]:
# Add your code below this comment
y = dataset.survived

**Create training/test split** off of **X** and **Y**. Test dataset ratio: 25%.

In [13]:
# Add your code below this comment
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.25)

Create Gaussian Naive Bayes classifier and <span style="background:yellow">name it **model**</span>, then **fit and score** the classifier.

**Note** that the model score will not be important for grading purpose in this exercise.

In [14]:
# Add your code below this comment
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.80269058295964124

**Run following cell** to take a snapshot of your model. 
This will also be how to submit results in future exercises.

In [15]:
import submission
submission.check(model)
submission.snapshot(model)

# Save your notebook!